


body {
	margin: 0;
	font-family: Blinker;
}

h1,h2,h3 {
	width: 100%;
	font-family: Blinker, monospace;
}

h1,
h2 {
	font-weight: 500;
	color: var(--text-h);
}

h1 {
	font-size: 48px;
	letter-spacing: -1.68px;
}

h2 {
	font-size: 24px;
	line-height: 118%;
	letter-spacing: -0.24px;
}

p {
	margin: 0;
}

#site {
	width: 1126px;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	border-inline: 1px solid var(--border);
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	font-family: Blinker, monospace;
	font-size: 20px;
	@media (max-width: 1024px) {
		font-size: 14px;
	}
}

#nav ul li.current {
	background-color: var(--foreground);
	color: var(--background)
}

#content {
	text-align: left;
	display: flex;
	flex-direction: column;
}

.link-card {
	background-color: var(--accent);
	border-style: var(--tw-border-style);
	border-width: 3px;
	border-radius: var(--radius);
	min-width: calc(var(--spacing) * 20);
	min-height: calc(var(--spacing) * 15);
	width: 25%;
	min-width: calc(var(--spacing) * 50);
	height: calc(var(--spacing) * 30);
	margin-bottom: calc(var(--spacing) * 5);
}

.link-card .card-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	place-content: center;
	border-radius: var(--radius);
}